sudo: required
language: c
env:
  global:
    - DEPLOY_USER=delta DEPLOY_SERVER="py.delta.chat"
    - secure: kxF/4pnq6jnhc/9BCtO8kQnoFg6w3/SMfy4zE54pqCzJEHKmOTVV0B+XX7epwYqOMI3aDDprVp+3+qi9+soz8ISN2Sedu1ZRje2ILv/OhHJUVkMLgAmDzzPBhlvlVXA18baIohxjJLGFHw2ZLz9aKHZENcM33ujs/4bSdODuWw6Re8C29aolh6+gvDlb/TmyB27GZoFa3tyc0EU0IhEYX4sPMkkFJVefvTPeKlQzKwJ0InfGMoWhlpr8CqFLsPHbcbDGrkoWXmmMOQny49itsr0AQoe9jpRnHAejrunOKlEnB5q+ok4p/1AQb5K7rZ0m93jbgyjT8Gz2GOeM49xd5M75ZzaLJXs6EkaWg7Y8kP7d7QpkXmKeQK+VjP1n7k2u+hGl9v89mk5aDvhceBBr4v0CjfLZKL3INd2/Z8CBggMyjpGhri5BCNOHxlFycqnsGv0ssz+BSElGQ8KeKtMVfqxkdikPTSpRCX+FT7DfZbM8KiDk0ezI3dEDRBMSZtQ4fngxdasC5FfrH8Y6g6LxAkByfwpGij6Rio0A7ICjlg8b0sJ7iEiFHy5lfkMSm+yoSEzyjFQb/D9JxnsnCTfqL+qr8j3IGGswEnDP9iRkw156gHneFsOMYW6wOtci7ZzYxdxTCGRt9y2HQiQQn8VgI9fLI77/ijDQmt13s1StikE=
  matrix:
    - MESONARGS="" DOCS=t TESTS=t WHEEL=t
    - MESONARGS="-Dmonolith=true" TESTS=t
    - MESONARGS="--default-library=static"
    - MESONARGS="--wrap-mode=forcefallback --default-library=static"
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - python3-pip
    - python3.5
    - g++-7
    - libssl-dev
    - libsqlite3-dev
    - libbz2-dev
    - zlib1g-dev
    - python3.5-dev
    - python-software-properties
    - doxygen

services:
  - docker

install:
  - export CC=gcc-7
  - export CXX=g++-7
  - sudo ln -sf /usr/bin/python3.5 /usr/bin/python3
  - sudo pip3 install meson
  - wget https://github.com/ninja-build/ninja/releases/download/v1.8.2/ninja-linux.zip
  - unzip ninja-linux.zip
  - sudo cp ninja /usr/bin
  - wget http://http.debian.net/debian/pool/main/c/cyrus-sasl2/cyrus-sasl2_2.1.27~101-g0780600+dfsg.orig.tar.xz
  - tar xfv cyrus-sasl2_2.1.27~101-g0780600+dfsg.orig.tar.xz
  - pushd cyrus-sasl2-2.1.27~101-g0780600+dfsg.orig && ./autogen.sh && make && sudo
      make install && popd

script:
  - export BRANCH=${TRAVIS_PULL_REQUEST_BRANCH:-$TRAVIS_BRANCH}
  - echo "BRANCH=$BRANCH"
  - doxygen --version
  - mkdir -p builddir && pushd builddir
  - meson $MESONARGS && ninja -v && sudo ninja install
  - export LD_LIBRARY_PATH=/usr/local/lib/x86_64-linux-gnu:$LD_LIBRARY_PATH
  - sudo ldconfig -v
  - popd && pushd docs
  - if [ -n "$DOCS" ]; then doxygen; fi
  - popd && pushd python
  - virtualenv -p /usr/bin/python3.5 venv
  - source venv/bin/activate
  - pip install tox devpi-client
  - if [ -e /usr/local/lib/x86_64-linux-gnu/libdeltachat.so ]; then ldd /usr/local/lib/x86_64-linux-gnu/libdeltachat.so;
      fi
  - if [ -n "$DOCS" ]; then tox -e doc; fi
  - bash $TRAVIS_BUILD_DIR/.scripts/travisbuild.sh 
  - popd
deploy:
  provider: script
  skip_cleanup: true
  script: bash $TRAVIS_BUILD_DIR/.scripts/deploy.sh
  on:
    all_branches: true
    condition: $DOCS
